<app-spinner [hidden]="!displaySpinner"></app-spinner>
<div class="body" fxLayout="row" fxLayoutAlign="center center">
    <div class="box">
        <div fxLayout="row" fxLayoutAlign="center center">
            <img class="img" src="../../../assets/img/box-login.png">
            <span class="login">Login</span>
        </div>
        <div class="row" fxLayoutAlign="center center">
            <div class="col-12 p-fluid">
                <button pButton type="button" label="Google" (click)="this.auth.loginGoogle()"></button>
            </div>
            <div class="col-12 p-fluid">
                <button pButton type="button" label="Facebook" (click)="this.auth.loginFacebook()"></button>
            </div>
            <div class="col-12">
                <a mat-button [routerLink]="['']" routerLinkActive="active-link">
                    Voltar ao inicio
                </a>
            </div>
        </div>
    </div>
</div>