.body{
    height: 100% !important;
    width:  100% !important;
}

.row{
    padding: 10px;
}

.box{
    background:#fff;
    color: #000;
    width: 400px;
    height: 420px;
    border: solid 3px #000;
}

.img{
    align-items: center !important;
    margin-top: -50px;
    margin-bottom: 0px;
    height: 100px;
    width: 100px;
}

.login{
    font-size:30px;
    font-weight: bold;
}